body{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", Sans-serif;
}
.bg-yellow{
    background: #ffde24;;
}
/* 
header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
} */
.logo{
    width: 65%;
}
.nav_bar_list .navbar-nav .nav-item {
    /* padding: 0 16px; */
    position: relative;
}
.nav_bar_list .navbar-nav .nav-link {
    padding: 15px 15px;
    color: #000000 !important;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav_bar_list .navbar-nav .nav-link:hover {
    transform: scale(1.2);
}
nav ul li:hover .submenu {
    top: 100%;
    visibility: visible;
    transition: .5s;
    opacity: 1;
}
.nav_bar_list .navbar-nav{
    margin-left: auto;
    margin-right: auto;
}
.submenu {
    position:absolute;
    min-width: 220px;
    background-color: #1B1B1BF2;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    padding:0;
}
.submenu li {
    display: block;
    position: relative;
    border-bottom: 1px solid #c4c4c4;
}
.submenu li a {
    padding: 11px 15px 11px 30px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.submenu li a:hover {
    color: #FFDE24;
}
/* Sub-menu */
.submenu li .sub-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 195px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sub-submenu li{
    border-bottom:1px solid #ddd;
}
.submenu li:hover .sub-submenu {
    display: block;
}
.angle-right {
    position: absolute;
    height: 40px;
    width: 45px;
    line-height: 45px;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}
.angle-right .fa{
    font-size:22px;
}
header .modal-content{
    border-radius: 0px;
}
header .modal-content .modal-body{
    padding: 6px;
}
.model_space_pop{
    padding: 78px 20px 78px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-button{
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 13px;
    content: "";
    z-index: 9;
}
.sticky-social-icons{
    position: fixed;
    z-index: 99;
    text-align: center;
    top: 320px;
    left: 0;
}
.sticky-social-icons ul{
    margin: 0;
    padding: 0;
}
.sticky-social-icons ul li{
    list-style: none;
}
.sticky-social-icons ul li a{
    font-size: 17px;
    width: 54px;
    height: 54px;
    display: block;
    padding: 10px 0px 10px 0px;
    line-height: 36px;
    transition: .1s;
}
.sticky-social-icons ul li a:hover{
    width: 64px;
    border-radius: 0 5px 5px 0 !important;
}
.sticky-social-icons ul li .fa-fa-facebook-f{
    color: #fff;
    background: #1e73be;
}
.sticky-social-icons ul li  a.fa-fa-facebook-f:hover{
    color: #fff;
    background: #194da8;
}
.sticky-social-icons ul li:first-child a{
    border-radius: 0 5px 0 0;
}
.sticky-social-icons ul li:last-child a{
    border-radius: 0 0 5px 0;
}
.sticky-social-icons ul li  .fa-fa-instagram{
    color: #fff;
    background: #e878e8;
}
.sticky-social-icons ul li  a.fa-fa-instagram:hover{
    color: #fff;
    background: #ae78e8;
}
.sticky-social-icons ul li  .fa-fa-twitter{
    color: #fff;
    background: #00bde2;
}
.sticky-social-icons ul li  a.fa-fa-twitter:hover{
    color: #fff;
    background: #0097ce;
}
.d_flex_booking{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_number{
    margin-top: 5px;
    margin-bottom: 5px;
}
.contact_number a{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.book-outline-success{
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 2px;
    font-size: 13px;
    padding: 8px 20px;
}
.book-outline-success:hover{
    background-color: #000000;
    color: #FFFFFF;
}
.background-video-container .background-video-embed{
    min-height: 460px;
    margin-top: -92px;
}
.elementor_width{
    max-width: 1300px;
}
.elementor_width_1380{
    max-width: 1380px;
}
.elementor-section-boxed{
    max-width: 1140px;
}
.elementor_width_1440 {
    max-width: 1440px;
}
.elementor_auto{
    margin:  0 auto;
}
.confidential-consultation-section{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.elementor-column-1{
    width: 68%;
}
.elementor-column-2{
    width: 29%;
}
.elementor-container-height {
    min-height: 400px;
}
.book-completely-free{
    background: #ffde24;
    box-shadow: 0px 0px 10px 0px #FFFFFF;
    margin-top: -67px;
    margin-bottom: 0px;
    z-index: 10;
    padding: 30px 20px 26px 20px;
    border-radius: 18px;
}
.elementor-heading-title{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: 20px;
}
.elementor-widget-wrap{
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
.elementor-widget-wrap .elementor-widget {
    width: 100% !important;
}
.elementor-widget-wrap input {
    color: #474747;
    background-color: #FFFFFF;
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px 0px 15px;
    border-radius: 2px 2px 2px 2px;
    width: 100%;
    box-sizing: border-box;
}
.elementor-widget-wrap input:focus{
    border: 0px;
    outline: none;
}
.input_space{
    margin-bottom: 10px;
}
.submit_from{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1em;
    padding: 10px 57px;
    border: 0px;
    width: 100%;
}
.easy_wear_patches{

}
.natural-hair-text {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
}
.elementor-element-populated{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    margin: 6px 6px 6px 6px;
    padding: 10px;
}
.elementor-element-populated img{
    width: 100%;
    margin-bottom: 15px;
}
.elementor-image-box-title{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 12px;
}
.populated_top{
    margin-top: 38px;
}
.esay_wear_pad{
    padding: 0px 0px 20px 0px;
}
.element_top_50{
    margin-top: 50px;
}
.elementor-element-populate img{
    width: 100%;
    margin-bottom: 15px;
}
.elementor-element-populate{
    margin-bottom: 20px;
}

/* slider-content-start */

/* Slideshow CSS */ 
      
#slide-container {   
  width: 75%; 
  height: 360px; 
  position: relative;  
  margin: 0 auto;
  margin-top: 0px;
  background: #FFF;   
  padding: 0;   
  overflow: hidden;
  z-index: 10;
}


#slides article {   
  top: 100%;
  width: 100%;   
  height: 100%;      
  position: absolute;    
  display: block;
  z-index: 0;
}

#slides article a {
  text-decoration: none;
  color: inherit;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


#slides article:first-child {
  top: 0;
  z-index: 2;
}


/* Slideshow caption */ 
#slides article .caption {
  text-align: center;
  width: 80%; 
  position: relative;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 5% 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}



#slides article .caption h1{
  text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    width: 100%;
    line-height: 24px;
    padding-bottom: 15px;
    margin: 0;
}

.slide-inner {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.slide-inner img {
  width: 50%;
  height: auto;
}

.caption-container {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  text-align: center;
  padding: 20px;
}


       
/* Slideshow button */ 

button.next {
  background-color: white;
  border: none;
  width: 90px; height: 50px;
  border-radius: 55px 55px 0 0;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 10;
  -webkit-transition-duration: 0.1s;
}

button.next:active {
 cursor: pointer;
margin-bottom: -7px;
-webkit-transition-duration: 0.1s;

}

button.prev {
  background-color: white;
  border: none;
  width: 90px; height: 50px;
  border-radius: 0 0 55px 55px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 10;
  -webkit-transition-duration: 0.1s;
}

button.prev:active {
 cursor: pointer;
 margin-top: -7px;
-webkit-transition-duration: 0.1s;
  
}
.dots-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 40%;
  top: 30%;
  z-index: 10;
}

.dots-container li{
  width: 15px; height: 15px;
  display: block;
  font-size: 20px;
  background-color: #FFF;
  border-radius: 50%;
  margin: 22px 10px;
  z-index: 10;
}


.dots-container li:hover{
  background-color: #FCBF93;
  cursor: pointer;
  -webkit-transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition:   all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); 
}

#dots .selected {
  background-color: #FCBF93;
-webkit-transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition:   all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); 
}

/* slider-content-end */


/* counter code */
#counter{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0px;
  width: 100%;
}
.elementor-col-25{
    width: 25%;
}
.counts {
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
}
.elementor-counter-title {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.border-black{
    border: 1px solid #000000;
}
/* counter code end */

/* hair loss blog start */
.border_bot_elementor{
    border-bottom: 3px solid #000;
    width: 14%;
    margin: 0 auto;
}
.img-100{
    width: 100%;
}
.img-30{
    width: 30%;
}
.img-60{
    width: 60%;
}
.elenentor-widgeted-33{
    width: 33.33%;
}
.bottom_30{
    margin-bottom: 30px;
}
.elementor-widgeted{
    padding: 12px 10px 12px 10px;
}
.ele-heading-title {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.1em;
    color: #222222;
    margin: 0;
}
/* hair loss blog end */

/* Treat yourself start*/
.flexed_yourself{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.treat_yourself_bg{
    background-color: #F8F3EF;
    display: flex;
    justify-content: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 8%;
    padding-right: 10%;
    flex-direction: column;
    height: 570px;
}
.width_55{
    width: 55%;
}
.width_45{
    width: 45%;
}
.treat-heading-title {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.3em;
    letter-spacing: 1.53px;
    color: #000000;
    padding-bottom: 12px;
}
/* Treat yourself end*/



/* slider css */
.custom-slider {
    width: 90%;
    margin: auto;
}
.custom-box {
    width: 200px;
    height: 100px;
    text-align: center;
    box-shadow: 2px 2px 3px #8f8f8f;
    margin: 15px;
    font-size: 5em;
    background: #f0f0f0;
}
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 30px;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    z-index: 1;
    font-size: 14px;
}
.slick-prev:before, .slick-next:before {
    color: rgb(0, 0, 0) !important;
    font-size: 34px !important;
    font-weight: bold;
}
.slick-next {
    right: -30px;
}
.slick-prev {
    left: -30px;
}
.slick-dots {
    bottom: -42px !important;
}
.slick-dots li button:before {
    font-size: 12px;
    color: #043e46;
}
.slick-dots li.slick-active button:before {
    color: #000;
}
/* slider css */

/* tabs css */
.tabs_content_jk .wrp-grid-item-title{
    font-size: 21px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
}
.tabs_content_jk .wrp-grid-item-title a:hover{
    color: #54595f;
    cursor: pointer;
}
.tabs_content_jk p{
    margin: 0;
    font-size: 14px;
    color: #6A6A6A;
}
.read_more_tabs a {
    border-style: none;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
    color: #000000;
    border-color: #E8E8E8;
    transition-duration: 0.1s;
    border-radius: 0px 0px 0px 0px;
    text-decoration: none;
}
.read_more_tabs a:hover{
    color: #4A45D2;
}
.padb-12{
    padding-bottom: 12px;
}
.bot_margin_tabs{
    margin-bottom: 38px;
}
.element_tabs_code .nav-pills .nav-link.active {
    color: #000;
    background-color: #FFDE22;
    border-color: #FFDE22;
}
.element_tabs_code .nav-pills .nav-link:hover{
    color: #ffffff;
    background-color: #605BE5;
    border-color: #E8E8E8;
}
.element_tabs_code .nav-pills .nav-item{
    margin: 0px 5px 0px 0px;
    font-size: 14px;
}
.element_tabs_code .nav-pills .nav-link{
color: #7A7A7A;
}
.nav-pills .nav-link {
    border-style: none;
    padding: 3px 15px 3px 15px;
    border-radius: 3px 3px 3px 3px;
}
.marb-15{
    margin-bottom: 15px;
}
.wpr-grid-pagination-space{
    padding-top: 35px;
}
.wpr-grid-pagination .loadmore_btn {
    color: #000000;
    background-color: #FFDE22;
    border-color: #E8E8E8;
    transition-duration: 0.1s;
    border-style: none;
    font-size: 14px;
    padding: 8px 20px 8px 20px;
    border-radius: 3px 3px 3px 3px;
}
.wpr-grid-pagination .loadmore_btn:hover{
    color: #fff;
}

/* Non Surgical Hair replacement start */
.surgical-hair-bg{
    background: #ffde24;
    border-radius: 20px;
    padding: 20px 25px 20px 25px;
}
.surgical-hair-p{
    font-size: 16px;
    color: #000;
    line-height: 1.5;
}
.surgical-a{
    text-decoration: underline;
    color: #000;
}
.list_ul ul li a{
    color: #000;
}

/* Non Surgical Hair replacement end */

.footer-bg{
    background: #ffde22;
}
.footer-space-top{
    padding-top: 35px;
    padding-bottom: 20px;
}
.footer_widget_text .footer-size-default{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px;
}
.footer_widget_text ul{
    margin: 0;
    padding: 0;
}
.footer_widget_text ul li{
    padding-bottom: 5px;
    display: block;
}
.footer_widget_text ul li a{
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.social-icons{
    text-align: center;
}
.social-icons a{
	color: #fff;
    line-height: 28px;
    margin: 0 5px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    background: #000;
  
}
.social-icons a .fa{
    font-size: 22px !important;
    line-height: 22px;
}
.we_provide_text{
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    padding-top: 24px;
}
.call_log_footer{
    padding-top: 20px;
}
.call_log_footer ul{
    margin: 0;
    padding: 0;
}
.call_log_footer ul li{
    display: block;
    padding-bottom: 5px;
}
.call_log_footer ul li a{
    font-weight: 400;
    color: #000;
    font-size: 15px;
    text-decoration: none;
}
.call_log_footer ul li a .fa{
    font-size: 18px;
}
.footer-space-top hr{
    border-top: 1px solid #000;
    opacity: 1;
}
.copy_right_text{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: #000;
}
.enqury_btn {
    background: #000000;
    border-color: transparent;
    border-width: 0px;
    color: #ffffff;
    border-radius: 64px;
    font-size: 16px;
    width: auto;
    padding: 0px 16px;
    height: 46px;
    line-height: 48px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-align: center;
    z-index: 999;
}
.position_enqury{
    position: fixed;
    right: 14px;
    bottom: 18px;
}
.offcanvas.offcanvas-end{
    width: 350px;
    right: 15px;
    height: 400px;
    bottom: 5.8em !important;
    top: unset;
}

/* hair patch start */
.flex-d{
    display: flex;
}
.center-justify{
    justify-content: center;
}
.center-align{
    align-items: center;
}
.elementor-section-banner{
    background-color: #F6FBFE;
    background-image: url(../images/inner-bg2.jpg);
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 410px;
}
.eles-heading-title {
    color: #C8AB5F;
    font-size: 40px;
    margin: 0;
    text-align: center;
}
.elementor-widget-p{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #000000;
}
.common_img_hairs img{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.eleme-element-populated {
    padding: 0px 0px 0px 35px;
}
.elementor-element-jk3232 {
    padding: 30px 30px 50px 30px;
}
.elementor-element-jkc4 {
    padding: 40px 0px 30px 0px;
}
.elementor-section-subnav ul{
    margin: 0 0 1.5em 3em;
    padding: 0;
}
.elementor-section-subnav ul li{
    padding: 4px 0px;
    line-height: normal;
    font-size: 15px;
}
.top-elementor-element {
    padding: 30px 0px 10px 0px;
}
.map_content_bg{
    background: #1c1c1c;
    padding: 24px 20px;
}

.contact_us_container{
    display: flex;
    align-items: stretch;
    gap: 32px; 
}
.left-box {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5; 
  box-shadow: 0 0 5px rgb(130 130 130 / 65%);
}
.left-box, .right-box {
  flex: 1;
}

.right-box form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.margin_contact{
    margin: 10px 30px 10px 30px;
}
.contactus_bg{
    background: #F5F5F5;
    padding: 15px 24px 15px 24px;
    border-radius: 10px;
}
.contact_number_list{
    padding-top: 45px;
}
.contact_number_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact_number_list ul li{
    padding-bottom: 6px;
}
.contact_number_list ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
}
.contact_number_list ul li a .fa{
    font-size: 21px;
    vertical-align: text-top;
    padding-right: 10px;
}
.contact-heading-title {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: 10px;
}
.elementor-widget-contact label{
    padding-bottom: 5px;
}
.elementor-widget-contact label span{
    color: red;
}
.elementor-widget-contact .common_input{
    color: #666;
    padding: .75em;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
    display: block;
    width: 100%;
}
.input_space_14 {
    margin-bottom: 14px;
}
.space_contact_us{
    margin-top: 30px;
    margin-bottom: 25px;
}
.mobile_block_size{
    display: none;
}

.mobile_nav_bar{
    display: none;
}


/* .elementor-section-subnav{
    background: #EDEFF0;
}
.elementor-widget-fff{
    background: #fff;
}

.elementor-section-subnav ul li:first-child{
    padding-left: 16px;
    padding-right: 0px;
}
.elementor-section-subnav ul li:last-child{
    padding-left: 0px;
    padding-right: 16px;
}
.home-icon-fa{
    font-size: 18px;
    padding-right: 3px;
}
.hair-heading-title{
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}
.space-pb{
    padding-bottom: 15px;
}
.hair-patch_flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.height-100{
    height: 100%;
}
.hair-patch-heading-title{
    font-size: 27px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}
.color_000{
    color: #000;
}
.elementor-icon-box-wrapper h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}
.space-mb-20{
    margin-bottom: 20px;
}
 */
/* hair patch end */


@media only screen and (max-width:767px) {
    .elementor_width {
        max-width: 100%;
    }
    .elementor-section-boxed{
        max-width: 100%;
    }
    .elementor_width_1380 {
        max-width: 100%;
    }
    .elementor_width_1440 {
        max-width: 1440px;
    }
    .web_nav_bar{
        display: none;
    }
    .mobile_nav_bar{
        display: block;
    }
    .nav_menu {
        display: block;
        font-size: 1.8em;
        border: 0px;
    }

    .bg_box_position {
       position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        content: "";
        z-index: 999;
        transition: 1s;
        background: #000;
        padding: 1em 0em 1em 0;
        transform: translateY(-132%);
    }
    #nav_links.open{
        transform: translateY(0);
    }
    .mobile_navgiation_bar ul{
        margin: 0;
        padding: 0px;
        list-style: none;
    } 
    .mobile_navgiation_bar ul li{
        border-bottom-style: dotted;
        border-bottom-color: #FFFFFF33;
        border-bottom-width: 1.5px;
    }
    .mobile_navgiation_bar ul li a{
        font-size: 15px;
        text-transform: none;
        line-height: 23px;
        padding: 10px 20px 10px 20px;
        color: #C8AB5F;
        letter-spacing: 0.5px;
        text-decoration: none;
        display: block;
        font-weight: 500;
    }
    .mobile_navgiation_bar ul li:last-child{
        border: 0px;
    }
    .nav_mobile_flex{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    .toggle-icon {
        transition: transform 0.3s ease;
    }

    .rotate-up {
        transform: rotate(180deg);
    }
    .mobiles_sub_menu li a {
        padding-left: 42px !important;
        font-size: 13px !important;
        font-weight: 400 !important;
    }




    .confidential-consultation-section {
        flex-direction: column;
    }
    .hair_patch_imgs{
        width: 100%;
    }
    #counter {
        padding: 10px 0px;
        flex-direction: column;
    }
    .elementor-col-25 {
        width: 100%;
    }
    .flexed_yourself {
        flex-direction: column;
    }
    .width_55 {
        width: 100%;
    }
    .width_45 {
        width: 100%;
    }
    .custom-slider {
        width: 100%;
    }
    .slick-next {
        right: 10% !important;
    }
    .slick-prev {
        left: 10% !important;
    }
    .elementor-column-1{
        width: 100%;
    }
    #slide-container {
        width: 100%;
        height: 260px;
    }
    #slides article .caption {
        width: 100%;
        padding: 1% 0;
    }
    #slides article .caption h1 {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 12px;
    }
    .book-outline-success {
        font-size: 12px;
        padding: 5px 4px;
    }
    button.prev {
        background-color: #e9e9e9;
        width: 60px;
        height: 30px;
    }
    button.next{
        background-color: #e9e9e9;
        width: 60px;
        height: 30px;
    }
    .elementor-column-2 {
        width: 100%;
    }
    .book-completely-free {
        margin-top: 0px;
        padding: 20px 16px 20px 16px;
        border-radius: 0px;
    }
    .elementor-heading-title {
        font-size: 20px !important;
        line-height: 24px;
        padding-bottom: 12px;
        margin: 0;
    }
    .mobile-heading-title{
        font-size: 20px !important;
        padding-top: 5px;
    }
    .element_top_50 {
        margin-top: 25px;
    }
    .natural-hair-text {
        font-size: 14px;
        line-height: 23px;
    }
    .populated_top {
        margin-top: 18px;
    }
    .elementor-image-box-title {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 4px;
        word-break: break-all;
    }
    .elementor-element-populated img {
        margin-bottom: 9px;
    }
    .offcanvas.offcanvas-end {
        width: 100%;
        right: 0px;
        height: auto;
        bottom: 6.8em !important;
    }
    .element_tabs_code{
        padding: 12px;
    }
    .mobile-space-lg{
        margin: 12px;
    }
    .tabs_content_jk .wrp-grid-item-title {
        font-size: 16px;
        line-height: 22px;
    }
    .treat_yourself_bg {
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 5%;
        padding-right: 5%;
        height: auto;
    }
    .counts {
        font-size: 28px;
        padding-bottom: 8px;
    }
    .elementor-section-boxed .item{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .footer-space-top {
        padding-top: 14px;
        padding-bottom: 5px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .surgical-hair-bg {
        border-radius: 5px;
        padding: 18px 15px 18px 15px;
    }
    .surgical-hair-p {
        font-size: 14px;
        line-height: 1.4;
    }
    .surgical-hair-bg h5{
        font-size: 16px;
    }
    .list_ul ul li a{
        font-size: 15px;
    }
    .esay_wear_pad {
        padding: 0px 0px 2px 0px;
    }
    .footer_widget_text ul li a {
        font-size: 14px;
    }
    .footer_widget_text .footer-size-default {
        font-size: 18px;
    }
    .copy_right_text {
        font-size: 14px;
    }
    .sticky-social-icons ul li a {
        font-size: 16px;
        width: 42px;
        height: 42px;
        line-height: 26px;
    }
    .mobile-color-input{
        color: #000 !important;
    }
    .enqury_btn {
        font-size: 15px;
        padding: 0px 16px;
        height: 40px;
        line-height: 40px;
    }


    .web_block_size{
        display: none;
    }
    .mobile_block_size{
        display: block;
    }
    .contact_number a {
        color: #ffffff;
    }
    .book-outline-success {
        font-size: 13px;
        padding: 7px 8px;
        color: #000 !important;
        background: #ffde24 !important;
    }

    /* about us start */
    .common_img_hairs img {
        width: 100%;
        margin-bottom: 15px;
    }
    .top-elementor-element {
        padding: 0px 0px 0px 0px;
    }
    .eleme-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-element-jkc4 {
        padding: 5px 0px 0px 0px;
    }
    .elementor-section-banner {
        height: 210px;
    }
    .elementor-element-jk3232 {
        padding: 22px 24px 22px 24px;
    }
    .eles-heading-title {
        font-size: 30px;
    }
    .call_log_footer {
        padding-top: 0px;
    }

    /* contact us */
    .contact_us_container {
        gap: 15px;
        flex-wrap: wrap;
    }
    .space_contact_us {
        margin-top: 4px;
        margin-bottom: 0px;
    }
    .margin_contact {
        margin: 10px 0px 10px 0px;
    }
    .left-box {
        padding: 5px;
        width: 100%;
    }
    .contact-heading-title {
        font-size: 18px;
        line-height: 27px;
        padding-bottom: 6px;
    }
    .contactus_bg h5{
        font-size: 18px;
        line-height: 24px;
    }
    .contact_number_list {
        padding-top: 17px;
    }
    .contact_number_list ul li a {
        font-size: 15px;
    }
    .contact_number_list ul li a .fa {
        font-size: 18px;
    }
    .elementor-widget-contact .common_input {
        padding: .53em;
    }
}
@media only screen and (min-width : 856.99px) and (max-width : 1323.98px) {
    .mobile-from-section {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
    }
    .mobile-from-section .elementor-widget {
        width: 48% !important;
    }
    .mobile-heading-title {
        font-size: 20px !important;
        padding-top: 15px;
        margin: 0;
    }
}
@media only screen and (min-width : 766.99px) and (max-width : 1369.98px) {
    .hair_patch_imgs {
        width: 100%;
    }
    .elementor_width_1380 {
        max-width: 100%;
    }
    .counts {
        font-size: 30px;
    }
    .element_tabs_code {
        padding: 12px;
    }
    .mobile-heading-title {
        font-size: 20px !important;
        padding-top: 15px;
        margin: 0;
    }
    .elementor-container-height {
        min-height: auto;
    }

    .flexed_yourself {
        flex-direction: column;
    }
    .width_55 {
        width: 100%;
    }
    .width_45 {
        width: 100%;
    }
    .custom-slider {
        width: 100%;
    }
    .slick-next {
        right: 10% !important;
    }
    .slick-prev {
        left: 10% !important;
    }
    .elementor-column-1{
        width: 100%;
    }
    .elementor-column-1{
        width: 100%;
    }
    #slide-container {
        width: 100%;
        height: 260px;
    }
    #slides article .caption {
        width: 100%;
        padding: 1% 0;
    }
    #slides article .caption h1 {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 12px;
    }
    .book-outline-success {
        font-size: 12px;
        padding: 5px 4px;
    }
    button.prev {
        background-color: #e9e9e9;
        width: 60px;
        height: 30px;
    }
    button.next{
        background-color: #e9e9e9;
        width: 60px;
        height: 30px;
    }
    .elementor-column-2 {
        width: 100%;
    }
    .book-completely-free {
        margin-top: 0px;
        padding: 20px 16px 20px 16px;
        border-radius: 0px;
    }
    .footer-space-top {
        padding-right: 15px;
        padding-left: 15px;
    }
    .web_block_size{
        display: none;
    }
    .mobile_block_size{
        display: block;
    }
}
@media only screen and (min-width : 766.99px) and (max-width : 991.98px) {
    .web_nav_bar{
        display: none;
    }
    .mobile_nav_bar{
        display: block;
    }


    .bg_box_position {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        content: "";
        z-index: 999;
        transition: 1s;
        background: #000;
        padding: 1em 0em 1em 0;
        transform: translateY(-132%);
    }
    #nav_links.open{
        transform: translateY(0);
    } 
    .web_block_size{
        display: none;
    }
    .mobile_block_size{
        display: block;
    }
    
    
    .item{
        flex-direction: column;
    }
    .nav_menu{
        display: block;
        font-size: 1.8em;
        border: 0px;
    }

    .mobile_navgiation_bar ul{
        margin: 0;
        padding: 0px;
        list-style: none;
    } 
    .mobile_navgiation_bar ul li{
        border-bottom-style: dotted;
        border-bottom-color: #FFFFFF33;
        border-bottom-width: 1.5px;
    }
    .mobile_navgiation_bar ul li a{
        font-size: 15px;
        text-transform: none;
        line-height: 23px;
        padding: 10px 20px 10px 20px;
        color: #C8AB5F;
        letter-spacing: 0.5px;
        text-decoration: none;
        display: block;
        font-weight: 500;
    }
    .mobile_navgiation_bar ul li:last-child{
        border: 0px;
    }
    .nav_mobile_flex{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    .toggle-icon {
        transition: transform 0.3s ease;
    }

    .rotate-up {
        transform: rotate(180deg);
    }
    .mobiles_sub_menu li a {
        padding-left: 42px !important;
        font-size: 13px !important;
        font-weight: 400 !important;
    }


    .mobile_space_83e{
        padding: 0px 40px;
    }
    .mobile-marg_space_83e{
        margin: 0px 40px;
    }
    .contact_number a {
        color: #ffffff;
        font-size: 16px;
    }
    .contact_number {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .book-outline-success {
        font-size: 13px;
        padding: 7px 8px;
        color: #000 !important;
        background: #ffde24 !important;
    }

    /* about us start */
    .common_img_hairs img {
        width: 100%;
        margin-bottom: 15px;
    }
    .top-elementor-element {
        padding: 0px 0px 0px 0px;
    }
    .eleme-element-populated {
        padding: 0px 0px 0px 0px;
    }
}
@media only screen and (min-width : 991.99px) and (max-width : 1259.98px) {
.nav_bar_list .navbar-nav .nav-link {
    padding: 10px 12px;
    font-size: 14px;
}
.contact_number a {
    font-size: 16px;
}
}